<p>user-dashboard works!</p>

<nav>
  <ul>
    <!-- Autres liens de navigation -->
    <li><a routerLink="/historique-pannes">Historique des Pannes</a></li>
  </ul>
</nav>

<nav>
  <a routerLink="/create-ticket">Créer un Ticket</a>
</nav>

<div *ngIf="user">
  <h2>Profil Utilisateur</h2>
  <p><strong>id:</strong> {{ user.id }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>Rôle:</strong> {{ user.role }}</p>
</div>
<div *ngIf="user">
  <h2>Bienvenue, {{ user.nom }}</h2>
  <h3>Vos Tickets</h3>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>État</th>
      <th>Panne ID</th>
      <th>Technicien ID</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticket of tickets">
      <td>{{ ticket.id }}</td>
      <td>{{ ticket.description }}</td>
      <td>{{ ticket.etatTicket }}</td>
      <td>{{ ticket.panneId}}</td>
      <td>{{ ticket.technicienId }}</td>
    </tr>
    </tbody>
  </table>
</div>
<app-panne-equipment-list></app-panne-equipment-list>
