.admin-dashboard {
  display: flex;
  flex-direction: column;
}

.sidebar {
  width: 250px;
  background-color: #1e3a8a;
  color: white;
  height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #2563eb;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9f9f9;
}

.logout-button,
.info-button,
.close-button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fbbf24;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.info-button {
  background-color: #3490dc;
}

.info-button:hover {
  background-color: #2779bd;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.welcome-section {
  border: 2px solid #2563eb;
  border-radius: 10px;
  padding: 20px;
  background-color: #ffffff;
  animation: fadeIn 1s ease-in-out;
}

.welcome-section h1 {
  color: #1e3a8a;
  margin-bottom: 20px;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stat-card {
  background-color: #f3f4f6;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  margin: 10px;
}

.stat-card h3 {
  margin: 0;
  color: #333;
}

.stat-card p {
  font-size: 1.5rem;
  margin: 10px 0 0;
  color: #1e3a8a;
}

@media (min-width: 768px) {
  .admin-dashboard {
    flex-direction: row;
  }

  .sidebar {
    height: auto;
  }

  .content {
    flex-grow: 1;
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  .sidebar ul li {
    text-align: center;
  }

  .content {
    padding: 20px;
  }

  .stat-card {
    width: calc(50% - 20px);
    margin: 10px;
  }
}

@media (max-width: 480px) {
  .stat-card {
    width: calc(100% - 20px);
    margin: 10px 0;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
