<div>
  <h1>Admin Tickets</h1>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Status</th>
      <th>User ID</th>
      <th>Technician ID</th>
      <th>Panne ID</th>
      <th>Update Technician</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ticket of tickets">
      <td>{{ ticket.id }}</td>
      <td>{{ ticket.description }}</td>
      <td>{{ ticket.etatTicket }}</td>
      <td>{{ ticket.userId }}</td>
      <td>{{ ticket.technicienId }}</td>
      <td>{{ ticket.panneId }}</td>
      <td>
        <input [(ngModel)]="ticket.newTechnicianId" placeholder="Technician ID" type="number"/>
        <button (click)="updateTechnician(ticket)">Update</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
