<!-- technicien-tickets.component.html -->
<div *ngIf="tickets.length === 0">
  <p>Aucun ticket disponible.</p>
</div>

<ul *ngIf="tickets.length > 0">
  <li *ngFor="let ticket of tickets">
    <p>ID: {{ ticket.id }}</p>
    <p>Description: {{ ticket.description }}</p>
    <p>Date de création: {{ ticket.dateCreation | date }}</p>
    <p>État: {{ ticket.etatTicket }}</p>
    <select (change)="updateStatus(ticket.id, $event)">
      <option value="" disabled selected>Changer le statut</option>
      <option value="OUVERT">OUVERT</option>
      <option value="EN_COURS">EN_COURS</option>
      <option value="RESOLU">RESOLU</option>
      <option value="FERME"> FERME</option>
    </select>
  </li>
</ul>
